In [51]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("diam.csv")

In [4]:
df.head()

   carat      cut color clarity  depth  table     x     y     z  target
0   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43  dewevo
1   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31  dewevo
2   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31  dewevo
3   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63  dewevo
4   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75  dewevo

In [21]:
x = df.drop('target', axis='columns')
y = df['target']

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le_cut = LabelEncoder()
le_color = LabelEncoder()
le_clarity = LabelEncoder()

In [25]:
x['cut_n'] = le_cut.fit_transform(x['cut'])
x['color_n'] = le_cut.fit_transform(x['color'])
x['clarity_n'] = le_cut.fit_transform(x['clarity'])
x.head()

,carat,cut,color,clarity,depth,table,x,y,z,cut_n,color_n,clarity_n
0,0.23,Ideal,E,SI2,61.5,55.0,3.95,3.98,2.43,2,1,3
1,0.21,Premium,E,SI1,59.8,61.0,3.89,3.84,2.31,3,1,2
2,0.23,Good,E,VS1,56.9,65.0,4.05,4.07,2.31,1,1,4
3,0.29,Premium,I,VS2,62.4,58.0,4.20,4.23,2.63,3,5,5
4,0.31,Good,J,SI2,63.3,58.0,4.34,4.35,2.75,1,6,3

In [43]:
x.drop(['cut', 'color', 'clarity'], axis='columns', inplace=True)
x.head()

   carat  depth  table     x     y     z  cut_n  color_n  clarity_n
0   0.23   61.5   55.0  3.95  3.98  2.43      2        1          3
1   0.21   59.8   61.0  3.89  3.84  2.31      3        1          2
2   0.23   56.9   65.0  4.05  4.07  2.31      1        1          4
3   0.29   62.4   58.0  4.20  4.23  2.63      3        5          5
4   0.31   63.3   58.0  4.34  4.35  2.75      1        6          3

In [44]:
from sklearn.model_selection import train_test_split, cross_val_score

In [45]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.3, random_state=17)

In [46]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((37758, 9), (16182, 9), (37758,), (16182,))

In [47]:
from sklearn.tree import DecisionTreeClassifier

In [48]:
dec_tree = DecisionTreeClassifier(random_state=17)

In [52]:
np.mean(cross_val_score(dec_tree, x_train, y_train, cv=5))

0.966867865360871

In [53]:
tree_params = {'max_depth': list(range(1,30)), 'max_features':[.5,.7,1]}

In [54]:
from sklearn.model_selection import GridSearchCV

In [55]:
tree_grid = GridSearchCV(dec_tree, tree_params, cv=5, n_jobs=-1)

In [56]:
tree_grid.fit(x_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=17,
                                              splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                       13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                                       23, 24, 25, 26, 27, 28, 29],
                         'max_features': [0.5, 0.7, 1]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [57]:
tree_grid.best_score_, tree_grid.best_params_

(0.9706287409290746, {'max_depth': 9, 'max_features': 0.7})

In [58]:
tree_pred = tree_grid.predict(x_test)

In [60]:
from sklearn.metrics import accuracy_score

In [61]:
accuracy_score(y_test, tree_pred)

0.9725621060437524